<nav class="p-4 bg-gray-300">
    <div class="flex justify-between">
        <div class=" create-flex">
            <a href="" class="font-medium">Recipe Book</a>
            <ul class="font-medium create-flex">
                <li><a href="">Recipes</a></li>
                <li><a href="">Shopping list</a></li>
            </ul>
            
        </div>
        <div class="">
         
            <ul>
                <li>
                    <a href="" role="button" class="flex items-center justify-center font-medium">Manage <mat-icon class="">keyboard_arrow_down</mat-icon></a>
                    <ul class="hidden">
                        <li><a href="">Save data</a></li>
                        <li><a href="">Fetch data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>